.SocialContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: start;
}

.SocialItem {
    width: max(75px, 4vw);
    height: max(75px, 8vh);
    object-fit: cover;
    margin: 2vh 1vw 2vh 1vw;
}

.SocialBox {
    width: max(400px, 20vw);
    height: max(400px, 30vh);
    background-color: #272C8F;
    border-radius: 10%;
    text-align: center;
}

.PageLink {
    margin-top: max(50px, 4vh);
}

/* Links are just anchor tags, and thus you can style/modify them in the css styling sheet using 'a' */
.PageLink a {
    color: white;
    font-size: clamp(20px, 20px + 0.5rem, 5rem); /* I don't really know what the correct max size should be. */
}

.tooltiptext {
  visibility: hidden;
  width: clamp(8vw, 150px, 20vw);
  font-size: clamp(5pt, 2vw, 12pt);
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
}

#Gmail:hover .tooltiptext {
    visibility: visible;
}